# osx noise
.DS_Store
profile

# svn & cvs
.svn
CVS

# NetBeans specific #
project-root-directory/
+ nbproject/
  build-impl.xml
  + private/
  + project.properties
  + project.xml
+ src/
+ test/
+ build.xml


nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


project-root-directory/
+ build/
+ dist/
+ nbproject/
  build-impl.xml
  + private/
  + project.properties
  + project.xml
+ src/
+ test/
+ build.xml


# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear